
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

body, button, .input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}
body, .input {
  color: #171717;
}
body, .search-bar {
  display: flex;
}

body {
  padding-top: 1em;
  margin: auto;
  justify-content: center;
}

.card-container:hover {
  box-shadow: 0px 0px 20px 3px #00000042;
}

.card-container {
  margin: .25em;
}

h1 {
  font-family: 'Merienda';
  font-size: 40px;
  color: rgb(226, 159, 189);
  font-weight: 700;
}

.card-alt {
  font-family: 'Nanum Myeongjo', serif;
}

.card-container {
  grid-template-columns: repeat(auto-fit, minmax('250px', '1fr')),
} 

.card-media {
  transition: 0.3s ease box-shadow;
}

.card-photographer {
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  left: 0;
  right: 0;
  bottom: -70px;
  font-weight: 300;
  transition: 0.5s ease-in-out bottom;
}

.card-photographer:hover {
  bottom: 0;
}

.card-actions {
  position: absolute;
  top: 8px;
  right: 16px;
}

.search-bar .input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar .input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar .input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar .input:focus,
.search-bar .input:valid  {
  width: 100%;
}
.search-bar .input:focus,
.search-bar .input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar .input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 1.25em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar .input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar .input:focus,
.search-bar .input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}

.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em rgb(228, 199, 212) inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: rgb(228, 199, 212);
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar .input:focus + .search-btn,
.search-bar .input:valid + .search-btn {
  background: #004E7C;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar .input:focus + .search-btn:before, 
.search-bar .input:focus + .search-btn:after,
.search-bar .input:valid + .search-btn:before, 
.search-bar .input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar .input:focus + .search-btn:hover,
.search-bar .input:valid + .search-btn:hover,
.search-bar .input:valid:not(:focus) + .search-btn:focus {
  background: #004E7C;
}
.search-bar .input:focus + .search-btn:active,
.search-bar .input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body, .input {
    color: #f1f1f1;
  }
  body {
    background: hsla(332, 53%, 82%, 1);
    background: linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9B7CE", endColorstr="#D3F3F1", GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .search-bar .input {
    box-shadow: 0 0 0 0.4em rgb(228, 199, 212) inset;
  }
  .search-bar .input:focus,
  .search-bar .input:valid {
    background: rgb(228, 199, 212);
    box-shadow: 0 0 0 0.1em #B73225 inset;
  }
  .search-btn {
    background: rgb(228, 199, 212);
  }
}

@media only screen and (min-width: 900px) {
  .card-container {
    grid-gap: 30px;
  }

  .container {
    max-width: 1160px;
  }

}
